<div class="doc-navbar"></div>

<header class="marketing-banner">
  <h1 class="banner-headline no-toc no-anchor">Elaboration</h1>
</header>

<article class="center-layout">
  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">Fine-tuned bias</div>
      <img src="../../assets/images/docs/bias.svg" height="120px" alt="Feature icon">
    </div>
    <div class="feature-row">

      <div class="feature">
        <div class="feature-title">Start quickly</div>
        <p class="text-body">Bias models to specific political perspectives.</p>
      </div>

      <div class="feature">
        <div class="feature-title">Transfer learned understandings</div>
        <p class="text-body">E.g., fine-tune with the <a href="https://arxiv.org/abs/2001.07487" target="_blank">Raiders
          of the Lost Kek: 3.5 Years of Augmented 4chan Posts from the Politically Incorrect Board</a></p>
      </div>

      <div class="feature">
        <div class="feature-title">Bias vs "unbiased"</div>
        <p class="text-body">Bias-free content is impossible. So let's just be explicit about which bias.</p>
      </div>
    </div>
    <hr>
  </div>

  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">Open licensed</div>
      <img src="../../assets/images/docs/copyright-license.svg" height="120px" alt="License icon">
    </div>
    <div class="feature-row">

      <div class="feature">
        <div class="feature-title">Critique of existing</div>
        <p class="text-body">Many models that come out now, including GPT-3 and friends, have strict usage restrictions
          forbidding generation/prompting-for content which is considered politically incorrect. E.g., <a
            href="https://github.com/facebookresearch/metaseq/blob/main/projects/OPT/MODEL_LICENSE.md" target="_blank">Meta/Facebook's
            OPT-175B</a>
          or <a href="https://huggingface.co/spaces/bigscience/license" target="_blank">BLOOM</a>
        </p>
      </div>

      <div class="feature">
        <div class="feature-title">Permissive license</div>
        <p class="text-body">No restriction on commercial use; integration does not require relicensing of parent (no
          viral GPL); and patent-right are guaranteed. Specifically: Apache-2.0 license.
        </p>
      </div>

      <div class="feature">
        <div class="feature-title">Lorem</div>
        <p class="text-body">Ipsom</p>
      </div>

    </div>
    <hr>
  </div>

  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">Teleprompter</div>
      <img src="../../assets/images/docs/press-conference.svg" height="120px" alt="Press conference">
    </div>
    <div class="feature-row">

      <div class="feature">
        <div class="feature-title">Powerful command-line interface</div>
        <p class="text-body">Lorem</p>
      </div>

      <div class="feature">
        <div class="feature-title">Lorem</div>
        <p class="text-body">Ipsum</p>
      </div>

      <div class="feature">
        <div class="feature-title">Development tools</div>
        <p class="text-body">Ipsum.</p>
      </div>
    </div>
    <hr>
  </div>


  <div class="feature-section">
    <div class="feature-header">
      <div class="text-headline">GotchaQuestions</div>
      <img src="../../assets/images/docs/any-size.svg" height="120px" alt="Feature icon">
    </div>
    <div class="feature-row">

      <div class="feature">
        <div class="feature-title">Lorem</div>
        <p class="text-body">Ipsum</p>
      </div>

      <div class="feature">
        <div class="feature-title">Lorem</div>
        <p class="text-body">Ipsum</p>
      </div>

      <div class="feature">
        <div class="feature-title">Lorem</div>
        <p class="text-body">Ipsum</p>
      </div>
    </div>
    <hr>
  </div>

  <div class="cta-bar announcement-bar">
    <a class="button" routerLink="doc/quick-start">Quick-start</a>
  </div>

</article>
